version: '3.8'

services:
  app:
    image: agora-gh:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
    networks:
      - webnet
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: agora_prod
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./deployment/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./deployment/nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - app
    networks:
      - webnet

volumes:
  pgdata:

networks:
  webnet:
    external: false
